<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <title>Potepan Share</title>
  <style>
    .RecommendArea--tokyo {
      background-image: url(https://rails-02-sample.herokuapp.com//assets/home/recommend-area/tokyo.jpg);
    }
    .RecommendArea--osaka {
      background-image: url(https://rails-02-sample.herokuapp.com//assets/home/recommend-area/osaka.jpg);
    }
    .RecommendArea--kyoto {
      background-image: url(https://rails-02-sample.herokuapp.com//assets/home/recommend-area/kyoto.jpg);
    }
    .RecommendArea--sapporo {
      background-image: url(https://rails-02-sample.herokuapp.com//assets/home/recommend-area/sapporo.jpg);
    }
  </style>
</head>
<body>
  <h1 class="text-center mt-5">Potepan Shareでまだ体験したことのない旅をしよう</h1>

  <div class="container">
    <%= form_with(url: rooms_path, method: :get, local: true) do %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>

    <h2 class="RecommendAreaSection__title">
      おすすめのエリア
    </h2>

    <%= form_with url: rooms_path, method: :get do |form| %>
      <% ["Tokyo", "Osaka", "Kyoto", "Sapporo"].each do |area| %>
        <%= form.radio_button :area, area %>
        <%= form.label :area, area %>
      <% end %>
      <%= form.submit "Search by area" %>
    <% end %>
  </div>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">Copyright © Potepan Share 2023 All rights reserved</span>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
